@media (min-width:768px) {

    .header-section{
        height: 700px;
    }
    
    .section-contener{
        width: 660px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        padding-top: 48px;
       
    }

    .wraper-top{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 132px;
        
    } 

    .logo, .autentification {
        margin: 0;
    }

    .meet-list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .meet-item:nth-last-child(-n+2) {
        margin-bottom: 50px;
    }
    .header-section-wraper{
        width: 500px;
        margin: 0 auto;
    }
    .meet-section{
        width: 500px;
        padding-top: 65px;

    }
    
    .header-section-title{
        font-size: 51px;
        margin-bottom: 27px;
        letter-spacing: -1px;
    }

    .header-section-description{
        font-size: 24px;
        color: #ffffff;
        font-family: "Roboto";
        font-weight: 300;
        text-align: center;
        width: 400px;
        margin-bottom: 30px;
    }

    .find-button{
        width: 225px;
    }

    .title-meet{
        width: 100%;
        margin-bottom: 30px;
    }

    .meet-item:nth-child(2n){
        order:1;
    }

    .see-partners{
        width: 192px;
    }
   
}

@media (min-width:960px){

    .section-contener{
        width: 960px;
    }

    .meet-item{
        width: 220px;
    }

    .meet-item:nth-last-child(-n+4) {
        margin-bottom: 14px;
    }


    button:hover {
        cursor: pointer;
    }
    
    .button-autentification:hover{
        border: 2px solid #ffffff;
    } 
    .header-section{
        background-size: cover;
    }
}
